{% extends "template.html" %}
{% block conteudo %}
      <form class="formularioBoleto" action="{{ url_for('atualizar', proxima=proxima, data_vencimento_inicio=data_vencimento_inicio, data_vencimento_final=data_vencimento_final, situacao=situacao) }}" method="post" enctype="multipart/form-data">

        <fieldset>
          <input type="hidden" name="id" value="{{ id }}">
          {{ form.csrf_token() }}
          <div class="form-group inputBox">
            {{ form.descricao.label(class="form-label") }}
            {{ form.descricao(class="form-control") }}
          </div>
          <div class="form-group inputBox">
            {{form.categoria.label(class="form-label")}}
            {{form.categoria(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.valor.label(class="form-label")}}
            {{form.valor(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.data_vencimento.label(class="form-label")}}
            {{form.data_vencimento(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.data_pagamento.label(class="form-label")}}
            {{form.data_pagamento(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.situacao.label(class="form-label")}}
            {{form.situacao(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{ form.codigo_boleto.label(class="form-label") }}
            {{ form.codigo_boleto(class="form-control") }}
          </div>
          <div class="form-group buttons">
            {{form.salvar(class="btn-primary")}}
            <a class="btn btn-danger" href="{{url_for(proxima, data_vencimento_inicio=data_vencimento_inicio, data_vencimento_final=data_vencimento_final, situacao=situacao)}}">Voltar</a>
          </div>


        </fieldset>
      </form>
{% endblock %}